/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: 'Montserrat', Helvetica, Arial, Sans-Serif;
   -webkit-font-smoothing: antialiased;
   font-size: 1em;
   line-height: 1.2;
}

h1 {
    margin: 0;
    padding: 20px 0;
    background: #444444;
    color: #ffffff;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 40px;
    top:0;
    z-index: 10;

    cursor: pointer;
}
nav {
    position: fixed;
    background: #fff;
    z-index: 10;
    top: 80px;
    width: 100%;
    height: 90px;
    
}

nav p {
    margin: 5px 0 0 0;
    text-align: center;

}

nav ul {
    font-size: 1.5em;
    position: absolute;
    width: 1000px;
    left: 50%;
    margin: 8px 0;
    margin-left: -120px;
}
nav li {
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
    color: #888;
    padding: 0 20px;
    cursor: pointer;
}
nav li.selected {
    color: #000;
}


/*GENERAL STYLES TO CONTENT*/



#content {
    margin-top: 180px;
}


#content #loading {
    color: #000;
    text-align: center;
    margin-top:180px;
    font-size: 1.5em;
    text-transform: uppercase;
}
#content h3 {
    font-size: 20px;
}


/*COLOR CODES*/

.temp00s {background-color: #6838CD; }
.temp10s {background-color: #5f61e6; }
.temp20s {background-color: #4f80e6; }
.temp30s {background-color: #00bce5; }
.temp40s {background-color: #00dae5; }
.temp50s {background-color: #00dcc4; }
.temp60s {background-color: #00dea2; }
.temp70s {background-color: #00e380; }
.temp80s {background-color: #eebb43; }
.temp90s {background-color: #fa8253; }
.temp100s {background-color: #ff615f; }



/*LISTS*/


td, th {
    padding: 15px 5px;
    vertical-align: top;
    text-align: left;
}
th {
    color: #000;
}
td {
    cursor: pointer;
    color: #fff;

}

td.city {
    width: 30%;
}
td.forecast {
    width: 20%;
}
tr h3 {
    margin: 0;
}




/*DETAIL PAGE*/

#detail .container {
    margin: 0;
    padding-bottom: 50px;
    min-height: 100%;
    color: #fff;

}

#detail #city {
    font-size: 1.5em;
    padding-left: 5px; 
    margin-bottom: 40px;
    padding-top: 20px;
}
#detail h2 {
    font-size: 2.5em;
    margin: 0;
}

#detail table{
    width: 100%;
}

#detail tr {
    border-top: 2px solid rgba(255,255,255,.5);
}

td.friendName {
    width: 70%;
}
td.message{
    color: black;
}
td.message:hover{
    color: white;
    cursor: pointer;
}



/*ACTIONS*/

#actions {
    margin: 20px 0;
    text-align: center;

}

.button {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    margin: 30px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px 20px;
}
.button:hover {
    background: #fff;
    color: black;
}

















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 1000px) {
    body {
        font-size: 1.5em;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
